@font-face {
  font-family: 'MyFont';
  src: url('../Assets/fonts/MyFont.ttf') format('truetype');
}

.section-title {
  font-family: 'MyFont';
  font-size: 40px;
  font-weight: 600;
  color: #272626;
}

.brand-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.brand-card:hover {
  transform: translateY(-5px);
   background-color: #adc4e8; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.brand-logo {
  width: 80px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 8px;
}

.brand-name {
    font-family:'MyFont';
  font-size: 0.9rem;
  font-weight: 500;
  color: #000000;
  margin: 0;
}
