@font-face {
  font-family: 'MyFont';
  src: url('../Assets/fonts/MyFont.ttf') format('truetype');
}


.hero-section {
  padding: 80px 0;
  background: linear-gradient(135deg,white, rgb(6, 80, 122));
  color: white;
}
.my-button{
  background-color: aliceblue;
       font-family: 'MyFont';
       font-weight: 1000;


}
.my-button:hover{
  background-color: rgb(6, 80, 122);
  
}

.hero-section button{
    background-color: white;
    color: #0033fd;
     font-family: 'MyFont';
}
.hero-section h1{
    font-size: 60px;
    font-family: 'MyFont';
    padding-bottom: 10px;
    color: white
}
.hero-section p{
    font-size: 40px;
    font-family:'MyFont';
      color: white;
}
.hero-img {
  width: 100%;
  max-width: 450px;
  display: block;
  margin: 0 auto;
}
